<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tec Newsletter</title>
  </head>
  <body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td align="center" bgcolor="#0073e6" style="padding: 40px 0">
          <h1 style="color: #ffffff">Tec Newsletter</h1>
        </td>
      </tr>
      <tr>
        <td align="justify" style="padding: 20px">
          <h3>title</h3>
          <p>Olá, {{username}}.</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consequuntur dicta
            nihil, laudantium numquam, qui inventore facere corporis facilis neque ad molestiae.
            Vitae dolorum impedit expedita animi iusto, vel ullam?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consequuntur dicta
            nihil, laudantium numquam, qui inventore facere corporis facilis neque ad molestiae.
            Vitae dolorum impedit expedita animi iusto, vel ullam?
          </p>
          <p>Tec Newsletter, informações semanais do que há de mais novo na tecnologia!</p>
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4f4f4" style="padding: 20px">
          <p>
            Caso não queira mais receber as notícias clique
            <a href="#">aqui</a>.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
